<div class="form-style-8">

    <link rel="stylesheet" href="{% static 'polls/give.css'%}">

  <h2>Prescribed</h2>
  <form>
    <input type="text" name="field1" placeholder="Patent Id" />
    <input type="text" name="field1" placeholder="Patent Name" />
    <input type="email" name="field2" placeholder="Age" />
    <table>
      <tr>
        <td>Medicine</td>
      </tr>
    </table>
    <textarea rows="4" cols="50">
    </textarea>
    <input type="button" value="Ok" />
  </form>
</div>
