{% extends 'polls/web.html'%}
{% load static %}

 {% block content %}
<body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
                    <h1 align="center"></h1>
					 <form method="POST" class="form-horizontal" action="{% url 'store' %}"> {% csrf_token %}
					<table>
                        <h1>Store Medicine</h1>
                            <div class="input-group">
                                <label> Medicine Name</label>
                                {{form.Medicine_Name}}
                            </div>
                            <div class="input-group">
                                <label> Medicine Type</label>
                                {{form.Medicine_Type}}
                            </div>
                            <div class="input-group">
                                <label> Medicine Mg </label>
                                {{form.Medicine_Mg}}
                            </div>

                            <div class="input-group">
                                <label>Medicine Expiriy Date</label>
                                {{form.Medicine_Expiriy_Date}}
                            </div>

                            <div class="input-group">
                                <label>Medicine Quantity</label>
                                {{form.Medicine_Quantity}}
                            </div>

                            <div class="input-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
					</table>
					 </form>
				</div>
			</div>
		</div>
	</div>
</body>
 {% endblock %}